name: Release Mod

on:
  release:
    types: [published] 

permissions:
  contents: write  # 显式授予写入权限
jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build mod with Gradle
        run: ./gradlew build --no-daemon

      # 提取版本号并重命名文件
      - name: Process mod file
        id: mod_version
        run: |
          # 从 gradle.properties 提取版本
          VERSION=$(grep "mod_version" gradle.properties | cut -d'=' -f2 | tr -d '[:space:]')
          
          # 重命名文件
          INPUT_FILE="build/libs/CnTierTagger-$VERSION.jar"
          OUTPUT_FILE="build/libs/[1.21-1.21.8] CnTierTagger-$VERSION.jar"
          mv "$INPUT_FILE" "$OUTPUT_FILE"

          # 设置输出变量供后续步骤使用
          echo "mod_file=$OUTPUT_FILE" >> $GITHUB_OUTPUT
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
          echo "FILENAME=$(basename $OUTPUT_FILE)" >> $GITHUB_OUTPUT
          echo "REPLACED_VERSION=CntierTagger $VERSION" >> $GITHUB_OUTPUT
          
      # 发布到 Modrinth
      - name: Upload to Modrinth
        uses: cloudnode-pro/modrinth-publish@v2
        with:
          files: ${{ steps.mod_version.outputs.mod_file }}
          project: ${{ secrets.MODRINTH_PROJECT_ID }}  # 在 Secrets 设置
          token: ${{ secrets.MODRINTH_TOKEN }}           # Modrinth API 密钥
          version: ${{ github.event.release.tag_name }}
          name: ${{ steps.mod_version.outputs.REPLACED_VERSION }}
          changelog: ${{ github.event.release.body }}
          game-versions: '["1.20", "1.20.1", "1.20.2", "1.20.3", "1.20.4", "1.20.5", "1.20.6", "1.21", "1.21.1", "1.21.2", "1.21.3", "1.21.4", "1.21.5", "1.21.6", "1.21.7", "1.21.8", "1.21.9]'   # 适配的游戏版本
          loaders: '["fabric"]'                   # 支持的 Mod 加载器
          dependencies: |-
            [{
                "project_id": "mOgUt4GM",
                "dependency_type": "required"
            },
            {
                "project_id": "9s6osm5g",
                "dependency_type": "required"
            },
            {
                "project_id": "P7dR8mSH",
                "dependency_type": "required"
            }]

      # 上传到 GitHub Release
      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }} # 自动获取
          asset_path: ${{ steps.mod_version.outputs.mod_file }}
          asset_name: ${{ steps.mod_version.outputs.FILENAME }}
          asset_content_type: application/java-archive
